Repository datamohikaan/simpleapp: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8-diff, eslint, prettier-diff, jest

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    # Python formatting and linting
    -   id: black
        name: Black formatter
        entry: black
        language: system
        types: [python]

    -   id: flake8-diff
        name: Flake8 (diff-cover)
        entry: diff-quality --violations=flake8 --compare-branch=origin/pre-develop
        language: system
        types: [python]

    # Python testing
    -   id: pytest
        name: Run pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true

    # JavaScript formatting, linting, and testing
#    -   id: eslint
#        name: ESLint
#        entry: npx eslint
#        language: system
#        types: [javascript]

    -   id: eslint
        name: ESLint (legacy config)
        entry: npx eslint --config .eslintrc.json
        language: system
        types: [javascript]

    -   id: prettier-diff
        name: Prettier (diff only)
        entry: bash -c "git diff --name-only origin/pre-develop...HEAD -- '*.js' | xargs npx prettier --check --write"
        language: system
        types: [javascript]

    -   id: jest
        name: Jest tests
        entry: npx jest --bail --passWithNoTests
        language: system
        types: [javascript]

Tahoe
  tests/__pycache__/__init__.cpython-313.pyc
  tests/__pycache__/test_hello.cpython-312-pytest-7.4.4.pyc
  tests/__pycache__/test_hello.cpython-313-pytest-8.4.2.pyc
  tests/__pycache__/test_something.cpython-312-pytest-7.4.4.pyc
  tests/__pycache__/test_something.cpython-313-pytest-8.4.2.pyc
Due: none

Tahoe
  .pre-commit-config.yaml
  tests/fizzbuzz.py
Due: black, flake8-diff

Tahoe
  app.py
Due: black, flake8-diff

Tahoe
  app.py
  tests/__pycache__/fizzbuzz.cpython-313-pytest-8.4.2.pyc
  tests/__pycache__/test_hello.cpython-313-pytest-8.4.2.pyc
  tests/test_hello.py
Due: black, flake8-diff

Tahoe
  .eslintrc.json
  .pre-commit-config.yaml
  home.js
  package.json
  tests/__pycache__/test_hello.cpython-312-pytest-7.4.4.pyc
  tests/__pycache__/test_something.cpython-312-pytest-7.4.4.pyc
Due: eslint, prettier-diff, jest

Tahoe
  producer.py
  tests/__pycache__/test_hello.cpython-312-pytest-7.4.4.pyc
  tests/test_hello.py
Due: black, flake8-diff

Tahoe
  home.js
Due: eslint, prettier-diff, jest

Tahoe
  home.js
  tt.py
Due: black, flake8-diff, eslint, prettier-diff, jest
